NODE_ENV=development
PORT=5000

MAIL_USER = mahendar@spackdigi.com
MAIL_PASSKEY =bswm gohb xvno ovge
EMAIL_HOST = smtp.gmail.com

MQTT_PORT = mqtt://35.154.64.193:1883
MQTT_USER_NAME = ssemqttuser
MQTT_PASSWORD = sse@mqtt